body {
    font-size: 11px;
    color: #000;
    line-height: 1.5;
    background: #F3F5F6;
}
a {
    outline: 0;
}
#pdoksearchresults {
    padding: 1em;
}

a img { border: none; }

form, fieldset {
    border: 0 !important;
}

div#all_reactions_box {
    display: none;
}

div#right {
    position: absolute;
    right: 0px;
    z-index: 8000;
    width: 270px;
    vertical-align: middle;
}

div#right > div {
    background: #FFF;
    border: 1px solid #999;
    margin: 0.3em;
    padding: 0.16em 1em;
    position: relative;
}

div#right > div h3 {
    margin: 0;
}
div#right > div h3 a {
    color: #000;
    text-decoration: none;
}

div#right a#add_reaction_marker {
    display: inline-block;
    height: 32px;
    padding: 5px;
    margin-right: 10px;
    margin-top: -5px;
    float: left;

}
div#right a#add_reaction_marker:hover { background: #DDD; }
div#right a#add_reaction_marker.disabled:hover { background: transparent; cursor: default; }
div#right a#add_reaction_marker.active, div#right a#add_reaction_marker.active:hover { background: #CCC; }

.container {right: 0; border-bottom: 1px #eee solid; padding: 0.1em; }
.container .left, .container .center, .container .right { display: inline-block; }
.container .left { float: left; padding-right: 0.2em;}
.container .center { margin: 0 auto; }
.container .right { float: right; }
.clear { clear: both; }

div#legenda .title { 
    background: #E1E1E1;
    text-align: center;
    padding: 0.3em;
}
div#legenda .title a{
    text-decoration: none;
    font-weight:bolder;
    font-style: italic;
    color: #000;
}
div#right > div.closed > div {
    display: none;
}

div#right > div > a.closeButton {
    position: absolute;
    right: 0px;
    top: 4px;
    width: 20px;
    height: 20px;
    text-indent: -999999px;
    background: url(../images/close-button-up.png) no-repeat center;
}
div#right > div.closed > a.closeButton {
    background: url(../images/open-button-down.png) no-repeat center;
}